## 1. Create Notebook 
<p> To create the new notebook command <b> CTRL+SHIFT+P </b>  
</p>

## 2. How to use Markdown
<p> paragraph </p>
<b> bold</b>

## 3. Data Frame create

<p> To create DataFrame using pandas library.</p>

In [9]:
import pandas as pd

data = {
    'A' : [1,2,3],
    'B' : [4,5,6],
    'C' : [7,8,9] 
}

index = ['one' , 'two' , 'three']

df = pd.DataFrame(data, index = index)

# df.info()
df

       A  B  C
one    1  4  l
two    2  5  8
three  3  6  9

## 4. Usage of iloc and loc 

<p> <b>iloc </b> for integer location </p>
<p><b>loc </b> for label location
</p>

In [12]:
#iloc [row, cloumn]
num = df.iloc [0,2] 
type(num) #type check

lbl_loc = df.loc ['three','B']
lbl_loc

6